:root {
    --light: rgba(255, 255, 255, .2);
    --clr: #222327;
    --main: #18b2b8;
    --main-fade: #18b3b8c2;
    background-color:  black;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}